body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 50, 100);
    scroll-behavior: smooth;
}

#footer {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 13px;
    text-align: center;
    color: gray;

}

.textbg {
    background-color:rgba(0,0,0,0.5);
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
/*標題*/
.title {
    font-family: 'Noto Serif TC', serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 55px;
    font-weight: 600;
    line-height: 2em;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
}


/*索引標籤*/
#nav {
    width: 100%;
    height: auto;
    background-color: rgba(245, 245, 245);
    clear: both;
    position: fixed;
    padding: 15px;
    margin-top: 10vh;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 99;
    
}

#nav li {
    display: inline;
    margin: 1%;
    font-size: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}


a,
a:link,
a:visited {
    color: #635546;
    text-decoration: none;
}

a:hover {
    color: #f170dc;
    text-decoration: none;
}


/* 章節標題 */
h2 {
    font-family: 'Noto Serif TC', serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
    margin: 15vh 2vw 0 0;
    line-height: 1.5em;
    position: sticky;
    top: 40%;
    float: right;
    z-index: 1;
}


/*文章*/
.summary {
    padding-top: 10vh;
    font-size: 23px;
    line-height: 1.8em;
    color: aliceblue;
    width: 40%;
    margin: auto;
    z-index: 1;
    position: relative;
}

p {
    margin-top: 2em;
}

#ch1_history,
#ch2_old,
#ch3_now,
#ch4_future {
    padding-top: 10em;
}

.article {
    font-size: 20px;
    line-height: 2em;
    color: aliceblue;
    width: 40%;
    margin: auto;
    padding: 5em 5em;
    z-index: 1;
    position: relative;
    height: auto;

}


/*影片 */

/* #v0 {
    position: fixed;
    bottom: 0;
    right: 0;
    /* width: 100vw;
    height:70vh */
} */

#set-height {
    display: block;
}